.slide {
    background: none !important;
}

.buttons-teams {
    display: flex;
    margin-top: 15px;
}

.buttons-teams a {
    margin-right: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex !important; 
    align-items: center !important;
    justify-content: center !important;
    color: white !important;
}

.buttons-teams .facebook {
    background: #3b5998 ;
}

.buttons-teams .twitter {
    background: #00acee;
}

.buttons-teams .instagram {
    background: #3f729b;
}

.buttons-teams .linkedin {
    background: #0e76a8 ;
}

p {
    margin-bottom: 30px;
}

.w3l-contact-info-main p {
    margin-bottom: 5px;
}

h1 {
    margin-bottom: 30px;
}

.w3l-footers-20 {
    margin-bottom: 5px !important;
}

.blog-post p {
    margin-bottom: 30px !important;
}

.blog-post h4 {
    margin-bottom: 30px !important;
}

.side-menu {
    padding: 20px;
}

.side-menu a {
    color: white;
    display: block;
    font-size: '2.5em';
    margin-bottom: 10px;
}

.container li {
    display: list-item;
}